*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url(/resumen/resumen.png);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px;
    height: 100%;
    margin-bottom: 100px;
}


/*-----------------HEADER----------------*/

.head{
    width: 100%;
    height: 75px;
    background-color: rgb(212, 2, 82);
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: max-content;
}

h1{
    font-size: 25px;
    padding: 0 40px;
    font-weight: bold;
    line-height: 80px;
    color: white;
}

.navmenu{
    list-style: none;
    display: flex;
    padding: 0 250px 0 250px;
    margin-left: -120px;
    
}

.list a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 30px;
    transition: 0.7s ease-out;
    border-bottom: 3px solid transparent;
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}


.list a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    
}

.toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

.social{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
}

.social ul li{
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.social ul li a{
    display: block;
    padding: 0 5px;
    background: rgba(184, 23, 85, 0.849);
    color: white;
    line-height: 30px;
    font-size: 25px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0);
    border-radius: 20px;
    transition: 0.7s ease-out;
}

.social ul li a:hover {
    background: rgba(61, 56, 56, 0.849);
}

/*-----------------EXPERIENCIA----------------*/



.titulo_inicial{
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

#edu{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-right: 830px;
    margin-bottom: 10px;
}

#laboral{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-right: 720px;
    margin-bottom: 10px;
}

.container_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 135px;
}

.front{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    line-height: 25px;
}

.title_edu{
    display: flex;
    color: rgb(212, 2, 82);
    width: 70%;
    height: 10%;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 15px;
}

.p_edu{
    display: flex;
    width: 70%;
    height: 10%;
    color: white;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 15px;
}

.p2_edu{
    display: flex;
    width: 70%;
    height: 10%;
    color: rgb(148, 148, 148);
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 15px;
}

#guion{
    color: white;
}

.back{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    line-height: 25px;
}

.diseño{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    margin-bottom: -60px;
}

.tec_container_dev{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px
}

.tec_container_diseño{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tecs{
    padding: 0 15px 0 15px;
    height: 80px;
}

.diseño_img{
    padding: 0 25px 0 25px;
    height: 60px;
}

@media (max-width: 768px){
    body{
       padding-top: 70px 20px 0;
       
    }

    .head{
        height: 60px;
    }

    h1{
        font-size: 25px;
        padding: 0 20px;
        font-weight: bold;
        line-height: 60px;
        color: white;
    }

    .navmenu{
        flex-direction: column;
        align-items: center;
        background-color: rgb(212, 2, 82);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: 100%;
        padding: 20px ;
        margin-left: 0;
        z-index: 10;

        left: 100%;
        transition: left 0.3s;
    }

    .list{
        flex-direction: column;
        height: 10%;
        
    }

    .toggle{
        margin-left: 430px;
        position: absolute;
        display: block;
        cursor: pointer;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .visible{
        left: 0;
    }

   .social{
    visibility: collapse;
   }
}